@import url('https://fonts.googleapis.com/css?family=Anton|Roboto');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #284b63;
}

h1, h2,  li, a, label, input, p, th{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 10%;
}

h1{
    cursor: pointer;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}


h2{
    letter-spacing: 1px;
}

lable{
    font-size: 10px;
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
    font-size: 1.1em; 
}

.nav-links li a:hover{
    transition: all 0.3s ease 0s;
    color: #d9d9d9;       
}

/* Section */
section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding: 30px 50%;
}

/* New password */
input {
    margin: 10px 0px;
}

.form-control {
    background: none;
    border: none;
    padding: 0.7rem 2.5rem;
    border-radius: 50rem;
    cursor: pointer;
    font-weight: 400;
    transition: all 0.2s;
    font-weight: 400;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.24);
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

input {
    border: None ;
    border-radius: 10px;
    background: #33607e;
    padding: 0.7rem 2.5rem;
}

/* Table */

.content-table{
    border-collapse: collapse;
    margin: 25px; 
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.content-table thead tr{
    background-color: #14232e;
    color: #fafafa;
    text-align: left;
    font-weight: bold;
    letter-spacing: 1px;
}

.content-table th, .content-table td{
    padding: 12px 55px;
    cursor: pointer;
}

.content-table tbody tr{
    border-bottom: 1px solid #ddd;
}

.content-table tbody tr:nth-of-type(even){
    background-color: #fafafa;
}

.content-table tbody tr:hover{
    background-color: #14232e;
    font-weight: bold;
    
}

.content-table tbody tr:last-of-type{
    border-bottom: 2px solid#14232e;
}

