{% extends "base.html" %}



{% block content %}
<div>

    <form action="?search=&search=" method="GET">
        <label for="search">Application Name:</label>
        <input type="text" name="search" autocomplete="off">
        <input type="submit" value="Search" name="search" class="form-control">
    </form>

    <table class="content-table sortable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Application</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody id="table-body">
            {% for record in records %}
            <tr>
                <td><a href="/edit/{{ record._id }}">{{ record._id }}</a></td>
                <td><a href="/edit/{{ record._id }}">{{ record.application }}</a></td>
                <td><a href="/edit/{{ record._id }}">{{ record.password }}</a></td>
            </tr>
            {% endfor%}
        </tbody>
    </table>

</div>
{% endblock %}